# Исследование надежности заемщиков

## Введение     

**Описание проекта:** 

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Цель проекта:**  выяснить, влияет ли семейное положение и количество детей клиента   на факт погашения кредита в срок. 


**Данные:**  статистика о платёжеспособности клиентов.


**Описание данных:**

- *ildren* — количество детей в семье
- *days_employed* — общий трудовой стаж в днях
- *dob_years* — возраст клиента в годах
- *education* — уровень образования клиента
- *education_id* — идентификатор уровня образования
- *family_status* — семейное положение
- *family_status_id* — идентификатор семейного положения
- *gender* — пол клиента
- *income_type* — тип занятости
- *debt* — имел ли задолженность по возврату кредитов
- *total_income* — ежемесячный доход
- *purpose* — цель получения кредита

**Стадии выполнения проекта:**

   - Предобработка данных.  
   - Исследование данных.
   - Общий вывод.

## Открытие таблицы и изучение общей информации о данных

**Задание 1. Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраняем в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd # импортируем библиотеку pandas

try:
    data = pd.read_csv('/datasets/data.csv')# читаем csv-файл и проверяем на ошибку вывода
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выводим первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)# выводим 20 первых строк data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выводим основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()# выводим основную инфо о data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Вывод по первому шагу   
- **Загрузили** таблицу и ознакомились с данными.

## Предобработка данных

### Удаление пропусков

**Задание 4. Выводим количество пропущенных значений для каждого столбца, используя комбинацию двух методов.**

In [4]:
data.isna().sum()# выводим количество пропусков для каждого столбца

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце мы обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` будет заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
# заполняем пропуски в столбце income_type соответствующими 
# медианными значениями по столбцу total_income
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
# меняем отрицательные значения в столбце days_employed на модули
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.**

In [7]:
# группируем по income_type и выводим для каждого income_type медианное значение days_employed
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

 - У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится для исследования.

**Задание 8. Выведем перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()# выводим перечень уникальных значений для столбца children

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
# удаляем аномальные значения из столбца children
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()# проверяем корректность удаления аномалий

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
# заполняем пропуски в столбце days_employed соответствующими
# медианными значениями по столбцу income_type
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедимся, что все пропуски заполнены. Проверим себя и ещё раз выведем количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()# проверяем корректность удаления пропусков

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)# меняем float на int в столбце total_income

### Обработка дубликатов

**Задание 14. Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру. Проверим остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()# приводим значения к нижнему регистру в столбце education

**Задание 15. Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.**

In [15]:
data.duplicated().sum()# считаем дубликаты в data

71

In [16]:
data = data.drop_duplicates()# удаляем дубликаты в data

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используем собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
# создаем функцию categorize_income(), группирующую данные в столбце
# total_income по заданным диапазонам, предупреждая ошибки вывода,
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
# и создаем в data столбец total_income_category с результатами работы функции
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выводим на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()# выводим уникальные значения столбца purpose

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создаем функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используем собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучим данные в столбце `purpose` и определим, какие подстроки помогут правильно определить категорию.**

In [20]:
# создаем функцию categorize_purpose(), группирующую данные в столбце
# purpose по заданным категориям, предупреждая ошибки вывода,
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
# и создаем в data столбец purpose_category с результатами работы функции
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Вывод по второму шагу
- **Заменили отрицательные значения на модули** в столбце "days_employed"(общий трудовой стаж в днях).

- **Заменили пропуски** в столбцах "total_income"(ежемесячный доход) и "days_employed"(общий трудовой стаж в днях) **медианным значением дохода** по типу занятости("income_type"). 

- **Заменили аномальные значения('-1' и '20')** в столбце "children"(количество детей в семье).

- **Заменили целочисленными значениями** данные в столбце "total_income"(ежемесячный доход).

- **Привели к одному регистру** значения в столбце "education"(уровень образования клиента).

- **Удалили все дублирующиеся строки** в данных.

- **Объединили клиентов в категории** по уровню дохода и по целям кредитования.

## Исследование данных и проверка гипотез

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# создаем группировку по столбцу children, считая и суммируя количество значений в dedt  
children_group = data.groupby('children').agg({'debt':['count', 'sum']}) 

# создаем в children_group столбец debt_share с расчетом доли невозвращенных в срок кредитов
# по категориям заемщиков children 
children_group['debt_share'] = children_group['debt']['sum']/ children_group['debt']['count']

children_group.sort_values(by='debt_share', ascending=False)# сортируем debt_share по убыванию

           debt       debt_share
          count   sum
children
4            41     4   0.097561
2          2052   194   0.094542
1          4808   444   0.092346
3           330    27   0.081818
0         14091  1063   0.075438
5             9     0   0.000000

**Вывод:** 

- По сравнению с бездетными, **в группах** заемщиков, имеющих **от 1 до 4 детей, доля просроченных кредитов выше**.
- **Наибольшая доля** невозвращенных в срок кредитов наблюдалась **в группе заемщиков**, имеющих **4 детей (9,76%)**.
- **Наименьшая доля** невозвращенных в срок кредитов наблюдалась **в группе заемщиков**, имеющих **3 детей (8,18%)**
- Заемщики, имеющие пять детей не имели просрочек по предитам.
- **Отсутствует линейная зависимость** между количеством детей у заемщиков и показателем возврата кредита в срок.
- **Чаще всего занимали** клиенты, **не имеющие детей**.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# создаем группировку по столбцу family_status, считая и суммируя количество значений в dedt  
family_group = data.groupby('family_status').agg({'debt':['count', 'sum']})

# создаем в family_group столбец debt_share с расчетом доли невозвращенных в срок кредитов 
# по категориям заемщиков family_status
family_group['debt_share'] = family_group['debt']['sum']/ family_group['debt']['count']

family_group.sort_values(by='debt_share', ascending=False)# сортируем debt_share по убыванию

                        debt      debt_share
                       count  sum
family_status
Не женат / не замужем   2796  273   0.097639
гражданский брак        4134  385   0.093130
женат / замужем        12261  927   0.075606
в разводе               1189   84   0.070648
вдовец / вдова           951   63   0.066246

**Вывод:** 

- **Линейная зависимость** между семейным положением и показателем возврата кредита в срок **отсутствует**.
- **В группе** заемщиков **"Не женат/не замужем" доля невозвратов** кредита в срок **выше**, чем в других группах - **9,76%**,  при медианном значении 7,56% (группа "женат/замужем").
- **Самая низкая доля просрочек** по кредитам в группе **"вдовец/вдова"(7,06%)**.
- **Чаще всего занимали** клиенты в группе **"женат/замужем"**.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
# создаем группировку по столбцу total_income_category, считая и суммируя количество значений в dedt
income_group = data.groupby('total_income_category').agg({'debt':['count', 'sum']})

# создаем в income_group столбец debt_share с расчетом доли невозвращенных в срок кредитов
# по категориям заемщиков total_income_category
income_group['debt_share'] = income_group['debt']['sum']/ income_group['debt']['count']

income_group.sort_values(by='debt_share', ascending=False)# сортируем debt_share по убыванию


#       0–30000 — 'E';
#   30001–50000 — 'D';
#  50001–200000 — 'C';
#200001–1000000 — 'B';
#1000001 и выше — 'A'.

                        debt       debt_share
                       count   sum
total_income_category
E                         22     2   0.090909
C                      15921  1353   0.084982
A                         25     2   0.080000
B                       5014   354   0.070602
D                        349    21   0.060172

**Вывод:** 

- **Наибольшая доля просроченных кредитов** наблюдалась в группе заемщиков с доходом от 0 до 30000 (**Категория E**).
- **Наименьшая доля** по показателю невозврата в срок кредита - в группе  заемщиков с доходом от 30000 до 50000 (**Категория D**).
- **Линейная зависимость** (чем выше/ниже доход, тем выше/ниже частота просрочки) между уровнем просрочки по кредитам и уровнем дохода **отсутствует**. Медианное значение - 8% (Категория А, доход от 1000000 и выше).
- **Чаще всего занимают** имеющие доход от 50000 до 200000 (**Категория C**). Доля просрочки - 8,5%.

### Как разные цели кредита влияют на его возврат в срок?

In [25]:
# создаем группировку по столбцу purpose_category, считая и суммируя количество значений в dedt
purpose_group = data.groupby('purpose_category').agg({'debt':['count', 'sum']})

# создаем в purpose_group столбец debt_share с расчетом доли невозвращенных в срок кредитов
# по категориям заемщиков purpose_category
purpose_group['debt_share'] = purpose_group['debt']['sum']/ purpose_group['debt']['count']

purpose_group.sort_values(by='debt_share', ascending=False)# сортируем debt_share по убыванию

                           debt      debt_share
                          count  sum
purpose_category
операции с автомобилем     4279  400   0.093480
получение образования      3988  369   0.092528
проведение свадьбы         2313  183   0.079118
операции с недвижимостью  10751  780   0.072551

**Вывод:**

- **Наибольшая доля просроченных кредитов** наблюдалась в группе заемщиков **"операции с автомобилями"** (9,35%).
- **Наименьшая доля** невозвращенных в срок кредитов наблюдалась в группе заемщиков **"операции с недвижимостью"** (7,91%).
- **Чаще всего** клиенты **занимают на операции с недвижимостью**.

### Каковы возможные причины появления пропусков в исходных данных?

Ошибки оператора при внесении данных, ошибки в коде, случайные неамеренные пропуски, намеренное искажение данных, отсутсвие данных.

### Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных?

Медиана лучше отражает действительность, так как среднее значение в группе не учитывает значения, сильно отличающиеся от средней выборки.

### Вывод по третьему шагу
- **Сгруппировали данные**, разбив клиентов по типам и наличию/отсутствию просроченного кредита **на 4** большие **группы**.

- **Провели комплексное исследование** заемщиков на предмет надежности и рисков невозврата кредита в срок.

## Общий вывод

**В процессе работы над проектом мы:**

- Загрузили таблицу и ознакомились с данными.
- Провели предобработку данных.
- Провели исследование данных и проверили гипотезы.
- Сформулировали и оформили промежуточные и общий выводы.


**Резюме**
 
- **Семейное положение и количество детей** клиента **влияют на факт погашения кредита в срок**, но это влияние не линейно: у клиентов, имеющих пять детей, просрочки отсутствовали, а у имеющих четверых детей, просрочка наивысшая (9,76%).

- В целом, **клиенты с детьми чаще допускали просрочку**. 

- В то же время, **неженатые/незамужние** имели **наибольший показатель** невозврата кредита в срок **(9,76%)**, среди **вдовцов/вдов** этот показатель **наименьший (7,06%)**.

- В целом, **заемщики, состоящие или состоявшие в браке, реже допускали просрочку.**